.payment {
  background-color: #fff;
}

.payment__container > h1 {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  background-color: rgb(234, 237, 237);
  border-bottom: 1px solid lightgray;
}

.payment__section {
  display: flex;
  padding: 20px;
  margin: 0 20px;
  border-bottom: 1px solid lightgray;
}

.payment__title {
  flex: 0.2;
}

.payment__address,
.payment__items,
.payment__details {
  flex: 0.8;
}

.payment__details > form {
  max-width: 400px;
}

.payment__details > h4 {
  padding-bottom: 20px;
}

.payment__details > form > h3 {
  padding-bottom: 20px !important;
}

.payment__details > form > div > button {
  background-color: #f0c14b;
  border: none;
  padding: 0.5rem 1.3rem;
  border-radius: 20px;
  color: #444;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 0.5rem;
  outline: none;
}

.payment__details > form > div > button:hover {
  background-color: #131921;
  color: #fff;
}
