.subTotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 160px;
  padding: 20px;
  border-radius: 5px;
  margin-left: 1rem;
  background-color: #f3f3f3;
}

.subtotal__gift {
  display: flex;
  align-items: center;
}

.subtotal__gift > input {
  margin-right: 0.5rem;
}

.subTotal__CheckoutButton {
  background-color: #f0c14b;
  border: none;
  padding: 0.6rem 1.3rem;
  border-radius: 20px;
  color: #444;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 0.5rem;
  outline: none;
}

.subTotal__CheckoutButton:hover {
  background-color: #131921;
  color: #fff;
}
